@import '../../../_util.scss';
.score{
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .module{
    &__value{
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
    &__title{
      font-size: 12px;
      color: $gray;
    }
  }
  &__btn{
    display: flex;
    .button{
      flex: 1;
      background: #F5F5F5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      line-height: 46px;
      -webkit-appearance: none;
      border: none;
      border-radius: 4px;
      outline: none;
      color: $gray;
      padding: 0;
      i{
        display: inline-block;
        margin-right: 10px;
        width: 16px;
        height: 16px;
      }
      &--want{
        i{
          background: url('../../../icons/heart.svg') 50% / contain no-repeat;
        }
      }
      &--seen{
        i{
          background: url('../../../icons/star.svg') 50% / contain no-repeat;
        }
        margin-left: 20px;
      }
    }
  }
}
