@import '../../../_util.scss';
.tagList{
  margin-top: 10px;
  &__item{
    line-height: 28px;
    border: 1px solid $border;
    color: $black;
    font-size: 14px;
    line-height: 28px;
    padding:0 14px;
    border-radius: 14px;
    margin-top: 6px;
    display: inline-block;
    margin-left: 6px;
    &--active{
      border: 1px solid $active
    }
  }

}
